@import "../../styles/colors.scss";

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;

  .messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    gap: 0.5rem;

    .message {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &.system {
        margin-left: auto;
        gap: 1rem;
        text-transform: uppercase;

        p {
          text-align: right;
          word-break: keep-all;
        }
      }

      p {
        margin-top: 0;
        word-break: break-all;
      }
    }

    .message-user {
      font-weight: 700;
    }

    .message-date {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }
  }

  form {
    display: flex;

    input {
      flex-grow: 1;
    }

    button {
      padding: 1rem 3rem;
      font-size: 1rem;
    }
  }

  &.small {
    .message-date {
      font-size: 0.9rem;
    }

    form {
      button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
      }
    }
  }
}
