@import "../../styles/colors.scss";

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  color: $colorGreen;

  &:hover {
    .label {
      background-color: rgba($colorGreen, 0.15);
    }
  }

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 30px;
    color: $colorRed;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 10px;
    top: -2px;
    width: 5px;
    height: 10px;
    content: "x";
    color: $colorYellow;
  }
}
