@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/text.scss";
@import "../../styles/buttons.scss";

.circle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 0.5rem;
  font-size: 1.6rem;

  .circle {
    @include textColorAndShadow($colorYellow);
    &:before {
      content: "◎";
    }
  }

  &.red {
    .circle {
      @include textColorAndShadow($colorRed);
    }
  }

  &.teal {
    .circle {
      @include textColorAndShadow($colorTeal);
    }
  }

  &.small {
    font-size: 1rem;
    padding: 0.5rem;
  }

  &:hover {
    .circle {
      &:before {
        content: "◉";
      }
    }
  }

  &.disabled,
  &:disabled,
  &[disabled] {
    cursor: default;

    .circle {
      @include textColorAndShadow($colorLightGray);
    }
    &:hover {
      .circle {
        &:before {
          content: "◎";
        }
      }
    }
  }
}
