$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGreen: #00ff07;
$colorTeal: #00e4fa;
$colorRed: #ff1900;
$colorDarkRed: #7a2018;
$colorYellow: #ffff00;
$colorPurple: #d600ff;
$colorPink: #ff00c2;
$colorBlue: #0400ff;
$colorOrange: #ff4300;
$colorGray: #5d5855;
$colorDarkGray: #534f4c;
$colorDarkestGray: #232220;
$colorLightGray: #8c8885;
