@import "./colors.scss";
@import "./text.scss";
@import "./fonts.scss";

input[type="text"] {
  font-family: "DotGothic16", sans-serif;
  @include textColorAndShadow($colorGreen);
  @include defaultTextSizing();
  z-index: 1;

  background: linear-gradient(
    180deg,
    $colorBlack 0%,
    rgba($colorGreen, 0.15) 50%,
    $colorBlack 100%
  );

  border: 4px solid $colorGray;
  border-top-color: $colorLightGray;
  border-bottom-color: $colorDarkestGray;
  outline: 2px solid rgba($colorGreen, 0.25);

  &:focus,
  &:active {
    outline: 2px solid rgba($colorGreen, 0.5);
  }
}

::placeholder {
  color: rgba($colorGreen, 0.8);
}

::-ms-input-placeholder {
  color: rgba($colorGreen, 0.8);
}

fieldset {
  border: 1px solid $colorRed;
}

textarea {
  &:focus,
  &:active {
    outline: 2px solid rgba($colorGreen, 0.5);
  }
}
