@import "../../styles/colors.scss";
@import "../../styles/text.scss";

.connect {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;

  .video {
    position: absolute;
    filter: hue-rotate(275deg);
    opacity: 0.5;

    video {
      pointer-events: none;
      image-rendering: pixelated;
      mix-blend-mode: lighten;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    z-index: 0;

    border: 4px solid $colorGray;
    border-top-color: $colorLightGray;
    border-bottom-color: $colorDarkestGray;
    outline: 2px solid rgba($colorGreen, 0.25);

    background: linear-gradient(to bottom, $colorGray, $colorDarkGray),
      url(./assets/noise.svg);

    .connect-button {
      @include defaultTextSizing();
      padding: 0.25rem;
      width: 100%;
    }
  }
}
