@import "../../styles/colors.scss";
@import "../../styles/text.scss";
@import "../../styles/animations.scss";

.connect {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: 0.5s ease forwards fadeIn;
  animation-delay: 1s;

  form {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    z-index: 0;

    border: 4px solid $colorGray;
    border-top-color: $colorLightGray;
    border-bottom-color: $colorDarkestGray;
    outline: 2px solid rgba($colorGreen, 0.25);

    background: linear-gradient(to bottom, $colorGray, $colorDarkGray),
      url(../../assets/noise.svg);

    .connect-button {
      @include defaultTextSizing();
      padding: 0.25rem;
      width: 100%;
      background-color: rgba($colorGreen, 0.15);
    }

    .quit {
      background-color: rgba($colorGreen, 0.05);
    }

    &.error {
      input {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 0.25rem 0.25rem $colorRed;
      }
    }
  }
}
