.right-side-bar {
  grid-column: 3 / 3;
  grid-row: 1 / span all;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: clip;

  .options {
    display: flex;
    margin-left: auto;
  }

  .game-chat {
    display: flex;
    flex-direction: column;
    min-height: 30%;
    height: 30%;
  }
}
