@import "../../styles/colors.scss";

.zone {
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow: clip;
  min-height: 25px;
  padding: 1rem;
  gap: 1rem;

  &:after {
    top: 0;
    right: 0;
    margin: 0 0.5rem;
    position: absolute;
  }

  &.active-zone {
    background-color: $colorGray;

    &:after {
      content: "Active Zone";
      text-transform: uppercase;
      text-shadow: 2px 1px 1px $colorBlack;
    }

    &.opponent {
      background-color: rgba($colorGray, 0.05);
    }
  }

  &.drag-over {
    outline: 4px solid $colorTeal;
    z-index: 1;
    background-color: rgba($colorTeal, 0.05);

    &:after {
      color: $colorTeal;
    }
  }
}
