@import "../../styles/colors.scss";

.card-pile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card-back {
    position: relative;

    .card-count {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 2rem;
      z-index: 1;
    }

    img {
      width: 50px;
      height: auto;

      &.empty {
        opacity: 0.75;
      }
    }
  }

  &.drag-over {
    outline: 4px solid $colorRed;
    z-index: 1;
    transform: scale(2);
  }
}
