@import "../../styles/colors.scss";

.card {
  position: relative;
  cursor: grab;

  max-width: 180px;
  transition: transform 0.2s ease-in-out;
  user-select: none;
  border-radius: 0.25rem;

  .card-actions {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    .card-action-button {
      opacity: 0;
      cursor: pointer;

      background-color: $colorDarkGray;
      color: $colorGreen;
      padding: 0 0.25rem;
      margin: 0.25rem;
      border: 4px outset $colorGray;

      &.edit-button {
        margin-left: auto;
      }

      &:hover {
        background-color: $colorGray;
        outline: 1px solid $colorGreen;
      }

      &:active {
        border: 4px inset $colorGray;
      }
    }
  }

  &.opponent {
    cursor: pointer;
  }

  &.tapped {
    .card-img {
      transform: rotate(90deg) translateY(-25%);
    }

    .card-actions {
      transform: translate(10%, 200%);
    }
  }

  .card-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.25rem 0.25rem rgba($colorBlack, 0.5);
  }

  &.focus {
    z-index: 1;

    .card-img {
      outline: 4px solid $colorRed;
    }
  }

  &:hover {
    .card-img {
      outline: 2px solid $colorYellow;
      filter: brightness(1.25);
    }

    .card-actions {
      .card-action-button {
        opacity: 1;
      }
    }
  }

  &:active {
    .card-img {
      outline: 4px solid $colorTeal;
    }
  }
}
