@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.card-pile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .card-pile-label {
    font-size: 0.9rem;
  }

  .card-back {
    position: relative;
    display: flex;
    border-radius: 0.25rem;
    outline: 1px solid rgba($colorGreen, 0.5);
    margin: 0.25rem 0;

    .card-count {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 1.2rem;
      z-index: 1;
      color: $colorWhite;
      font-family: $headerFont;
      -webkit-text-stroke: 2px rgba($colorBlack, 0.25);
      text-shadow: 2px 2px rgba($colorBlack, 0.75),
        -2px -2px rgba($colorBlack, 0.75);
    }

    img {
      width: 50px;
      height: auto;
      border-radius: 0.25rem;

      &.empty {
        opacity: 0.75;
      }
    }
  }

  &.drag-over {
    z-index: 1;
    transform: scale(2);

    .card-pile-label {
      color: $colorTeal;
    }

    .card-back {
      outline: 1px solid rgba($colorTeal, 1);
    }
  }
}
