@import "../../styles/colors.scss";

.card {
  position: relative;
  cursor: grab;
  max-width: 180px;
  transition: transform 0.2s ease-in-out;
  user-select: none;

  .card-actions {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .card-action-button {
      opacity: 0;
      cursor: pointer;

      background-color: $colorDarkGray;
      color: $colorGreen;
      padding: 0 0.25rem;
      margin: 0.25rem;
      border: 4px outset $colorGray;

      &:hover {
        background-color: $colorGray;
        outline: 1px solid $colorGreen;
      }

      &:active {
        border: 4px inset $colorGray;
      }
    }
  }

  &.opponent {
    cursor: pointer;
  }

  &.tapped {
    transform: rotate(90deg);
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
  }

  &.focus {
    z-index: 1;

    img {
      outline: 4px solid $colorRed;
    }
  }

  &:hover {
    img {
      outline: 2px solid $colorYellow;
      filter: brightness(1.25);
    }

    .card-actions {
      .card-action-button {
        opacity: 1;
      }
    }
  }

  &:active {
    img {
      outline: 4px solid $colorTeal;
    }
  }
}
