@import "../../styles/effects.scss";
@import "../../styles/animations.scss";

.card-focus {
  display: flex;
  flex-grow: 1;
  padding: 0.5rem;
  background-image: $noise;
  animation: 0.15s linear infinite alternate noise;
  background-color: $colorRed;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;

  border-radius: 10px;

  .focused-card {
    flex-grow: 1;
    flex-shrink: 0;
    height: calc(100% - 1rem);
    max-width: 90%;
    margin: 0.5rem 0;

    background-color: $colorBlack;
    background-image: $noise;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 0.75rem 0.75rem $colorBlack;

    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;

    grid-auto-rows: max-content;
  }

  .name {
    font-weight: 600;
  }

  .cost {
    margin-left: auto;
    font-weight: 600;
  }

  .type,
  .subtype {
  }

  .faction {
    grid-column: span 2;
  }

  .body-text {
    grid-column: span 2;
  }
}
