@import "../../../styles/colors.scss";

.modal-find-room {
  .modal-header {
    margin-bottom: 1rem;
  }

  .modal-body {
    legend {
      color: $colorWhite;
      text-transform: uppercase;
      font-weight: 600;
    }

    .rooms {
      fieldset {
        max-height: 50vh;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: $colorDarkestGray;
        background-image: url("../../../assets/subtle-grunge.png");
        background-blend-mode: overlay;
      }
    }

    .no-games-found {
      padding: 2rem;
    }

    .room-list {
      width: 100%;
      text-align: left;
      border-spacing: 10px;

      th,
      td {
        padding: 0 1rem;
        white-space: nowrap;
      }

      th {
        text-transform: uppercase;
        border-bottom: 2px dashed $colorRed;
      }

      tbody {
        text-align: center;
      }

      .room-join button {
        margin-left: auto;
      }
    }
  }
}
