@import "../../../styles/colors.scss";

.modal-find-room {
  .modal-header {
    margin-bottom: 1rem;
  }

  .modal-body {
    legend {
      color: $colorWhite;
      text-transform: uppercase;
      font-weight: 600;
    }

    .rooms {
      fieldset {
        max-height: 50vh;
        overflow: hidden;
        padding: 1rem 1.5rem;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }

    .room-list {
      width: 100%;
      text-align: left;
      border-spacing: 10px;
      background-color: $colorDarkestGray;
      background-image: url("../../../assets/subtle-grunge.png");
      background-blend-mode: overlay;
      outline: 4px solid rgba($colorLightGray, 0.5);

      th,
      td {
        padding: 0 1rem;
        white-space: nowrap;
      }

      th {
        text-transform: uppercase;
        border-bottom: 2px dashed $colorRed;
      }

      tbody {
        text-align: center;
      }

      .room-join button {
        margin-left: auto;
      }
    }
  }

  .join-code {
    form {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem;

      input {
        flex-grow: 1;
        outline: 0;

        &:focus {
          outline: 2px solid rgba($colorGreen, 0.5);
        }
      }

      button {
        padding: 0.25rem 1rem;
      }
    }
  }
}
