@import "./styles/colors.scss";

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;

  .messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $colorDarkestGray;
    background-image: url("./assets/subtle-grunge.png");
    background-blend-mode: overlay;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    gap: 0.5rem;

    .message {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &.system {
        margin-left: auto;
        gap: 1rem;
        text-transform: uppercase;
      }

      p {
        margin-top: 0;
      }
    }

    .message-user {
      font-weight: 700;
    }

    .message-date {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }
  }

  form {
    display: flex;

    input {
      flex-grow: 1;
    }

    button {
      padding: 1rem 3rem;
      font-size: 1rem;
    }
  }
}
