.opponent-hand {
  position: fixed;
  display: flex;

  justify-content: center;
  padding-left: 100px;
  z-index: 1;

  margin-right: auto;
  margin-left: 5%;
  width: 50%;

  transform: translateY(-80%);

  .card {
    margin-left: -100px;
    transition: transform 0.2s ease-in-out;

    cursor: not-allowed;

    img {
      transform: rotate(180deg);
    }

    &:hover {
      transform: translateY(25px);
      z-index: 1;

      img {
        outline: 2px solid red;
      }
    }
  }
}
